[Desktop Entry]
Name=Quick Power Profile Switcher
Comment=A simple button widget to quickly switch between power save and performance power profiles

Icon=speedometer
Type=System
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=xgsa
X-KDE-PluginInfo-Name=switch-power-profile-plasma-widget
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
